<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to WeCare, where we try to help you with issues relating to the Mind.</title>
</head>
<body>
    <h1>Welcome to WeCare!</h1>
        Based on what you type about the current psychological problems you are facing, we analyze your input and suggest a set of possible disorders that could be the cause of your problems.
    <h2>How are you feeling like today?</h2>
        <form method="post" action="/voice_tone_analysis/post/">
            <input name = 'question_2', type="text" placeholder="question_2"/>
            <input type="submit" value="submit">
        </form>
<br><b>Since we aren't licensed practitioners, our feedback should be taken with a grain of salt and in no way interpreted to be a substitute for advice from an actual mental-health care practitioner.</b>
</body>
</html>